*{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: #a435f0;
    padding: 10px;
}
.menu__container{
    display: flex;
    justify-content: space-around;
}
a{
    color: #ffffff;
    text-decoration: none;
}
li{
    color: #ffffff;
}

@media(max-width:390px){
    .menu__container{
        display: flex;
        flex-direction: column;
    }
}